@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="row padding-top-20px padding-left-20px padding-right-20px">
    <div class="row z-depth-3">
        <div class="section white-text padding-left-10px red lighten-1">
            <h5>Application Error</h5>
        </div>
        <div class="divider"></div>
        <div class="col s12 padding-20px">
            <p>@(Model.Message ?? "An error occurred while processing your request.")</p>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong>
                    <code>@Model.RequestId</code>
                </p>
            }

            <a class="btn grey" asp-controller="Home" asp-action="Index">Back to Home</a>
        </div>
    </div>
</div>
